#jinja2: trim_blocks: True, lstrip_blocks: True

{% macro systemd_section(config, section) -%}
[{{ section }}]
{% for option, value in config|dictsort %}
{{ systemd_format_option(option, value) -}}
{%   endfor %}
{% endmacro -%}

{% macro systemd_format_option(option, value) -%}
{% if value is bool %}
{{ option }}={{ value | string | lower }}
{# all resolved list options are space-separated #}
{% elif value is list and value %}
{{ option }}={{ value | map('string') | join(' ') }}
{% else %}
{{ option }}={{ value | string }}
{% endif %}
{% endmacro -%}
